@keyframes menu-appear {
    from {
        transform: translateX(2000%);
    }

    to {
        transform: translateX(200%);
    }
}


.animation-menu-appear {
    animation-name: menu-appear;
    animation-duration: 1s;
}