* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100%;
    padding: 1rem 2rem;
    background:  linear-gradient(163.97deg, #0D1717 53.92%, #3F3D56 131.72%);
}

main {
    min-height: 70vh;
    width: 100%;

    display: flex;
    align-items: center;
}

.info strong {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.4rem;
    color: #00FF66;
}

.info h1 {
    font-family: 'Rancho', cursive;
    font-size: 4.1rem;
}

.info p {
    font-family: 'Rokkitt', serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.info a {
    text-decoration: none;
    padding: .5rem 1.2rem;

    background: #00C54F;
    border-radius: 5px;

    font-family: 'Righteous', cursive;

    transition: .2s;
}

.info a:hover {
    background: #02dd59;
}

@media (min-width: 1024px) {

    .container {
        background: 80% 50%/500px url("/public/images/bg-main.svg") no-repeat, linear-gradient(163.97deg, #0D1717 53.92%, #3F3D56 131.72%);
        padding: 2rem 4rem;
    }

    main {
        min-height: 70vh;
        line-height: 2;
    }

    main p {
        width: 300px;
        line-height: 1;
    }
}

@media (min-width: 1040px) {

.container {
    background: 80% 50%/700px url("/public/images/bg-main.svg") no-repeat, linear-gradient(163.97deg, #0D1717 53.92%, #3F3D56 131.72%);
    padding: 5rem 10rem;
}

main p {
    margin-top: 30px;
    width: 300px;
}

}