#menu-bars {
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 10;
}

.menu-list {
    transition: .3s ease-in-out;
}

.menu-hidden {
    transform: translateX(100%);
}

.menu-list {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem 3rem 0;
    background: #1e9750;
    z-index: 5;
    height: 100%;
}

.menu-list li {
    margin: 2rem 0;
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
}

.menu-item {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    transition: .5s;
}

.menu-item.selected {
    color: #00FF66;
}

.menu-item:hover {
    color: #79FFAF;
}

@media (min-width: 768px) {

    #menu-bars {
        display: none;
    }

    .menu {
        position: absolute;
        top: 2rem;
        right: 0;
    }

    .menu-list {
        display: flex;
        right: 10rem;
        background: none;
        transform: translateX(0);
    }

    .menu-list li {
        margin: 10px;
    }
}