#menu-bars {
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.menu {
    overflow: hidden;
}

.menu-list {
    position: fixed;
    top: 2rem;

    transform: translateX(2000%);

    overflow: hidden;
}

.menu-list li {
    margin: 2rem 0;
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
}

.menu-item {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.2rem;
    transition: .5s;
}

.menu-item.selected {
    color: #00FF66;
}

.menu-item:hover {
    color: #79FFAF;
}

@media (min-width: 768px) {

    #menu-bars {
        display: none;
    }

    .menu {
        position: absolute;
        top: 2rem;
        right: 0;
    }

    .menu-list {
        display: flex;
        right: 10rem;
        transform: translateX(0);
    }

    .menu-list li {
        margin: 10px;
    }
}